In [13]:
import pandas as pd

In [39]:
data = pd.read_csv("C:\\Users\\saral\\OneDrive\\Masaüstü\\ders notları\\4.donem\\datascience\\titanic\\train.csv")
test = pd.read_csv("C:\\Users\\saral\\OneDrive\\Masaüstü\\ders notları\\4.donem\\datascience\\titanic\\test.csv")
test_ids = test["PassengerId"]

def clean(data):
    # Sadece mevcut kolonları sil
    drop_cols = ["Ticket", "Cabin", "Name", "PassengerId"]
    data = data.drop(columns=[col for col in drop_cols if col in data.columns], axis=1)

    # Eksik değerleri doldurma
    cols = ["SibSp", "Parch", "Fare", "Age"]
    for col in cols:
        data[col] = data[col].fillna(data[col].median())

    if "Embarked" in data.columns:
        data["Embarked"] = data["Embarked"].fillna("U")
    
    return data

data = clean(data)
test = clean(data)

In [42]:
data.head(5)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [54]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

cols = ["Sex","Embarked"]

for col in cols:
    data[col] = le.fit_transform(data[col])
    test[col] = le.fit_transform(test[col])
    print(le.classes_)

data.head(5)

['female' 'male']
['C' 'Q' 'S' 'U']

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [61]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

y = data["Survived"]
X = data.drop("Survived", axis=1)  

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [66]:
clf  = LogisticRegression(random_state=0, max_iter=1000).fit(X_train,y_train)

In [78]:
predictions = clf.predict(X_val)
from sklearn.metrics import accuracy_score
accuracy_score(y_val, predictions)

0.8100558659217877

In [84]:
test = test[X_train.columns]

submission_preds = clf.predict(test)

In [86]:
df = pd.DataFrame({"PassengerId":test_ids.values,
                  "Survived": submission_preds,
                  })

NameError: name 'test_ids' is not defined

In [ ]:
df.to_csv("submission.csv",index=False)